
h1{
    text-transform: uppercase;


    }
     .lista{
        border: 3px solid black;
     }
.lista__item{
    color: grey;
    margin: 20px 0; 
    list-style: square; 
}

.lista__item_danino{
    color: blue;

}

.lista__item_ultimo{
    color: red;
    margin: 20px 0;
    list-style: square;
}