body{
    margin: 0;
    font-family: sans-serif;
}

.modal {
    position: absolute;
    background-color: #55ec26;
    width: 100vw;
    margin: auto;
    margin-top: 50px;
    position: relative;
}

.modal-content{
    background-color: rgb(24, 223, 73);
    padding: 20px;
    width: 80%;
    margin: auto;
    margin-top: 50px;

}

.modal-text{
    text-align: center;
}
.btn-cerrar{
   background-color: #00000000;
   color: #ffdfff;
   position: absolute;
    right: 0;
    top: 0;
    padding: 4px 12px;
}